/* If there's formatting errors in the future, check up on z-indexes */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}

.bodyTop {
    background-color: rgba(255,255,255,0);
}

.App {
    text-align: center;
}

.building-name {
    margin-left: 30px;
    margin-bottom: 2px;
    display: flex;
}

.building-name a img {
    width: 100%;
    height: 70px;
    object-fit: cover;
}

.App-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #dcc6ffe5;
    border-bottom: 5px solid #e5e7eb;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    margin: 0;
    z-index:100
  }

.App-link {
    color: #61dafb;
}

.menu-container {
    padding-left: 4px;
    padding-right: 32px;
    padding-top: 12px;
}

.menu-bar {
    display: flex;
    align-items: center;
}

.menu-item {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 1px;
}

.menu-item a {
    color: #047857;
    font-size: calc(4px + 2vmin);
}

.menu-item a:link {
    text-decoration: none;
}

.building-img {
    display: flex;
    align-items: center;
}

.building-img img {
    width: 100%;
    height: 580px;
    object-fit: cover;
}

.data-section {
    margin-left: 250px;
    margin-right: 250px;
}

.data-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.error-msg {
    color: red;
    text-align: center;
}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    margin-top: 20px;
    margin-bottom: 12px;
    position: relative;
}

.homeVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -10px;
    left: 0;
    display: block;
    z-index: -1;
    opacity: 0.9;
}

.navButton {
    box-shadow: 0px 10px 14px -7px #276873;
    background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    background-color: #599bb3;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 5px 0px #3d768a;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.navButton.Camera {
    background: linear-gradient(to bottom, #63418f 5%, #7752b4 100%);
}

.navButton:hover {
    background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    background-color: #408c99;
}

.navButton:active {
    position: relative;
    top: 1px;
}

.floorButton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
}

.floorButtonContainer {
    margin-left: 100px;
}

.fullContainer.homeFirst {
    background-color: #ebeff2;
}

.fullContainer {
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    z-index: 1;
}

.grid {
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
    display: block;
    text-align: left;
    clear: both;
}

.grid .gridTwoThird {
    float: left;
    position: relative;
    margin: 15px 1.515%;
    width: 63.6363%;
}

.moduleHolder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    clear: both;
    position: relative;
    z-index: 3;
    width: 100%;
    height: 270px;
}

.fullContainer.homeFirst .panel {
    background: #ebeff2;
}

.panel {
    position: absolute;
    bottom: 0;
    background: #fff;
}

.pageBlock {
    display: block;
    width: 100%;
    height: 100%;
    clear: both;
}

.grid .gridFull {
    float: left;
    margin: 15px 1.515%;
    width: 96.9696%;
    position: relative;
}

.electricInfo {
    float: right;
    width: 200px;
    margin-right: 100px;
    color: #3d768a;
    font-size: 25px;
    text-align: left;
}

.wattsCounter {
    text-align: center;
    font-size: 35px;
    width: 150px;
    height: 120px;
    background-color: #b18dec;
    margin: auto;
    display: block;
}

<<<<<<< HEAD
.solarInfo {
    margin-left: 5px;
}

.solarData {
    margin-left: 5px;
}

.solarBgImage {
    background: url('./images/IMG_4148.jpg') cover;
    background-color: rgba(255, 255, 255, 0.5);
}
=======

  .scroll-test {
    position: relative;
    top: 100vh;
    height: 50vh;
    overflow-y: scroll;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
  }

  .frontLogo {
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    filter: none;
    z-index:1
  }

  .bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .containerTitle {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    font-family: 'Comic Sans MS', cursive, sans-serif;
  }

  .containerText {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Indie Flower', cursive, sans-serif;
  }
>>>>>>> 85b206139beea94400ed99c1480e076513cd9a0a
